*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:#640202;;
    padding-top: 6rem;
   

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: #462319;
    margin-bottom: 1rem;
}

.voltar{
    margin-bottom: 10rem;
    padding-left: 3rem;
    width: 100%;
    background-color: transparent;
    margin-bottom: 10rem;
}

.voltar a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
}

.voltarhome:hover{
    color: white;
    background-color: black;

}

.receita {
    display: grid ;
    padding-left: 10rem;
   font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #542525;
    margin-bottom: -15rem;
    

}
.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40rem;
    margin-bottom: 6rem;
}
 .tiragosto{
    width: 60%;
 }

 .contrate{
    width: 100%;
    height: auto;
    padding: 1rem ;
    padding-left: 40rem;
    justify-content: center;
    align-items: center;
    background-color: #640202;
 }

 .contrate button{
    border-radius: 5px;
    padding: 10px;
 }

 .contrate a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
 }





 
@media only screen and (max-width: 767px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color:#640202;;
        padding-top: 6rem;
       
    
    }
    
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        color: #462319;
        margin-bottom: 1rem;
    }
    
    .voltar{
        margin-bottom: 10rem;
        padding-left: 3rem;
        width: 100%;
        background-color: transparent;
        margin-bottom: 10rem;
    }
    
    .voltar a{
        list-style: none;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 1rem;
    }
    
    .voltarhome:hover{
        color: white;
        background-color: black;
    
    }
    
    .receita {
        display: grid ;
       font-family: 'PT Sans Narrow', sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        color: #542525;
      
        border: 2px solid yellow;
    
    }
   
    
}
     .contrate{
        border: 2px solid black;
        width: 100%;
        height: auto;
        padding: 1rem ;
     justify-content: center;
        align-items: center;
        background-color: #640202;
        margin-top: 18rem;
     }
    
     .contrate button{
        border-radius: 5px;
        padding: 10px;
     }
    
     .contrate a{
        list-style: none;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 1rem;
     }
    
    


