*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color:#640202;;
    padding-top: 6rem;
   

}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    color: #462319;
    margin-bottom: 1rem;
}

.voltar{
    margin-bottom: 0%;
    padding-left: 3rem;
    width: 100%;
    background-color: transparent;
}

.voltar a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
}

.voltarhome:hover{
    color: white;
    background-color: black;

}
.salgado{
 
    position: absolute;
    left: 0%;
    margin-top: 0%;
    width: 100vw;
    transform: rotate(360deg);
    height: 900px;
    
}

.receita {
    position: relative;
    display: grid ;
    margin-left: 70rem;
   font-family: 'PT Sans Narrow', sans-serif;
    font-weight:900;
    font-size: 2rem;
    color:  #fefdd1;
    letter-spacing: 2px;
    margin-top: 13%;
    line-height: 60px;
    width: 40%;
   
}
.container{
    background-image: url(./imagensCadapio/delicious-food-croquettes-top-view.jpg);
    background-repeat: no-repeat;
 
   background-size: 100%;
   transform: rotate(0deg);
   border: 2px solid transparent;
   margin-top: 0%;
    width: 100%;
    height: 900px;
   
    
}



 .contrate{

   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 6.2%;
   width: 100%;
   background-color: #640202;
   height: 50px;
 }

 .contrate button{
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    color:black;
    margin-top: 2px;

 }

 .contrate a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1rem;
 }


.contrate button:hover{
    border: 3px solid black;
}


 
@media only screen and (max-width: 767px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color:#640202;;
        padding-top: 6rem;
       
    
    }
    
    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        color: #462319;
        margin-bottom: 1rem;
    }
    
    .voltar{
        margin-bottom: 10rem;
        padding-left: 3rem;
        width: 100%;
        background-color: transparent;
        margin-bottom: 1rem;
    }
    
    .voltar a{
        list-style: none;
        text-decoration: none;
        color: black;
        font-weight: bolder;
        font-size: 1rem;
    }
    
    .voltarhome:hover{
        color: white;
        background-color: black;
    
    }
    .salgado{

        position: absolute;
        left: 55%;
        top: 45%;
        width: 50%;
    
        
    }
    
    
    .receita {
        display: grid ;
       font-family: 'PT Sans Narrow', sans-serif;
        font-weight: bold;
        font-size: 14px;
        color: #542525;
       margin-left: 5%;
       padding-left: 50%;
       margin-top: 4%;
       color: white;
        width: 60%;
        line-height: 25px;
      
        
    
    }
  
    .container{
        background-image: url(./imagensCadapio/delicious-food-croquettes-top-view.jpg);
        background-size: 100%;
        height: 400px;
        margin-left: 1px;
        
    }
   
    .contrate{
        margin-top: 3%;
    }










    
}
    
    


