@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


/*TELA DEKSTOP*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    

}

header{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    padding: 0px 35px;
}

nav {
    display: flex;
    background-color: white;
    justify-self: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    gap: 40px;
    
}


nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.imagemMenu {
   background-image: url(./imagens/Design\ sem\ nome\ \(23\).png);
   background-size: 100% ;
 
   background-repeat: no-repeat;
   width: 100%;
   height: 560px;
   margin-top: 0rem;
   padding: 20rem 0 ;

}



.bemvindo{
    font-family: 'Dancing Script', cursive;
    font-size: 8rem;
    font-weight:50;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}

.Buffet{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    margin-bottom: 7rem;
   
}
.TextoBoasVindas {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
}

.imagemMenu a{
    text-decoration: none;
    list-style: none;
}

#botaoContato{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5px 2px;
    width: 14%;
    background-color: #d9d9d9bb;
    cursor: pointer;
    
   
}

#botaoContato :hover{
    color:#640202;
     font-weight: bolder;
    
    
}

.txtContato{
    color: black;
    font-size: 2rem;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    
}


.descricaoResponsavel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #ebe7e7;
    border: 2px solid green;


}
.apresentacaoBuffet{
   
   width: 100%;
   height: auto;
   padding-bottom: 3%;
   

 

   
}

 
.apresentacaoTxt p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;


  
}
.apresentacaoTxt p:nth-of-type(1){
    font-size: 1.5rem;
}
.apresentacaoTxt p:nth-of-type(2){
    font-size: 2rem;
    letter-spacing: 3px;
    

}


.qualidades{
    background-image: url(./imagens/imagemFundo.png);
    background-repeat: no-repeat;
    background-size:100%;
    height: auto;
 


}


   


.pontoForteBuffet{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    height: auto;
    margin-bottom: 5rem;

}


.pontoForteBuffet img{
    width: 30%;
}



#servicos{
    margin-top: 10rem;
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cardapios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
    align-items: center;
    justify-content: center;
    padding-left: 12%;
    padding-top: 10px;
}

.cardapios img {
    
    max-width: 100%;
    height: auto;
    display: flex; /* Para centralizar a imagem horizontalmente */
    justify-content: center;
    margin-bottom: 7px; /* Para centralizar a imagem horizontalmente */
}

.opcoes a {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    font-size: 1.2rem;
    list-style: none;
    text-decoration: none;
    color: black;
    width: 100%;
  
}

.opcoes button {
    border-radius: 30px;
    width: 60%;
    background-color: rgb(222, 87, 57);
    padding: 0;
    cursor: pointer;
    margin-bottom: 20px;
}

.opcoes button :hover{
    color: #fff;
}



.fotos{
    background-color: #640202;
    width: 100%;
    height: auto;
   
}

.galeria {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow';
    font-weight:900;
    font-size: 2rem;
    color: #fff;
    
}

.galeriafotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
 }

 .galeriafotos img{
    width: 90%;
    height: auto;
    margin-left: 1rem;
 }


.verGaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

  
}
.verGaleria button{
    border-radius: 50px;
    margin-bottom: 2rem;
    cursor: pointer;
   
}
.verGaleria button :hover{
    color: #640202;
}
.verGaleria a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.txtFotos{
    font-family: 'PT Sans Narrow';
    font-size:2rem;
    font-weight: 900;
    width: 100%;
    padding: 14px 35px;

}

.contatos{
    
    display: block;
    margin-top: 50px;
    margin-left: 50%;
 

}
#precos {
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
  
}


#precos h1{
   width: 100%;
   font-size: 2rem;
   
}

#precos p{
font-weight: 500;
font-size: 1.1rem;
 
 
}
.contatoFinal{

    margin-top: 50px;
    display: flex;

}

.logos{
  
 margin-left: 45%;
 display: grid;
grid-template-columns: 1fr;
 grid-gap:20px;


}
.logos img{
   
    width: 60%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    
   
}
.links{
    display: grid;
    grid-template-columns: 1fr;
     grid-gap:50px;
    margin-top: 20px;
    

}
.links a{
      
list-style: none;
text-decoration: none;
color: black;
font-weight: 600;
background-color: #cec6c6;
border-radius: 5px;
height: 30px;
width: 100%;
margin-top: 10px;
padding: 5px 10px 25px 20px;
align-items: center;
justify-content: center;
 
margin-bottom: 5px;

}
 
.imgfinal{
 
width: 100%;
height: auto;

   
}
.imagemfinal{
    width: 100%;
    height: auto;

    

    
}




































@media only screen and (max-width: 767px){

    header li{
        display: none;
    }

    header img{
 
        width: 100%;
         margin-left: 100%;
        margin-top: 40px;

    ;
    }
    .imagemMenu {
        border: 2px solid blue;
        background-image: url(./imagens/Design\ sem\ nome\ \(23\).png);
        border: 2px solid red;
        padding: 0; /* Remover padding */
        margin: 0; /* Remover margem */
        height: 200px; /* ou ajuste para a altura desejada */
    }
    
        
     
     
     .bemvindo{
        
        margin-top: 1rem;
        font-family: 'Dancing Script', cursive;
        font-size: 2.5rem;
        font-weight:50;
      
        color: #fff;
        
    }
    
    .Buffet{
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 2.2rem;
        display:flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: bold;
        margin-bottom: 1.3rem;
         
    }
     
#botaoContato{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 2px 5px;
    width: 40%;
    background-color: #d9d9d9bb;
  
    
   
}

.descricaoResponsavel{
    display: block;
   padding-left: 30px;

}

.txtContato{
    font-size: 1.3rem;
}

.apresentacaoBuffet img{
    width: 56%;
    justify-content: center;
  
}
.apresentacaoBuffet{
    width: 100%;
    height: auto;
   


   
 
   

   
}

.apresentacaotxt{
    width: 100%;
    margin-top:-20rem;
    margin-bottom: 8rem;
    margin-left: -35rem;
    font-size: 1rem;
    width: 100%;
    

    

   
}
.apresentacaotxt p{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1px;
    margin-top: 1px;
    padding: 1px 45rem;
    width: 100%;
    
}
.pontoForteBuffet{
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
   
}

.pontoForteBuffet img{
    width: 30%;
}
.opcoesBuffet{

    display: flex;
    justify-content: center;
    align-items: center;
    


  
}
#servicos{
    margin-top: 0;
}

.opcoesBuffet h1{
    font-family: 'PT Sans Narrow';
    font-weight: bold;
    font-size: 3rem;
   
}

.cardapios  {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
}

.opcoes p{
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    
   
    
}
.opcoes button{
    border-radius: 30px;
    width: 100%;
    margin-left:-1rem;
    margin-top: 1rem;
    background-color:rgb(222, 87, 57);
    
    
}
.opcoes button :hover{
    color: #fff;
}

.opcoes img{
    width: 100%;
    margin-left: -1.5rem;
    
}


.fotos{
    background-color: #640202;
    width: 100%;
    height: auto;
   
}

.galeria {
    margin-top: 3rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-family: 'PT Sans Narrow';
    font-weight:900;
    font-size: 1rem;
    color: #fff;
    
}

.galeriafotos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
 }

 .galeriafotos img{
    width: 90%;
    height: auto;
    margin-left:8px;
 }


.verGaleria {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

  
}
.verGaleria button{
    border-radius: 50px;
    margin-bottom: 2rem;
   
   
}

.verGaleria a{
    text-decoration: none;
    list-style: none;
    color: black;
}
.txtFotos{
    font-family: 'PT Sans Narrow';
    font-size:1.5rem;
    font-weight: 900;
    width: 100%;
    padding: 14px 35px;

}

 
#precos{
    width: 400px;
}

.contatoFinal{
 
    padding-right:170px;
}
.contatos h1{

    
    font-family: 'PT Sans Narrow';
   
    font-size: 3rem;
    font-weight: 900;
}

.contatos p{

    font-family: 'PT Sans Narrow';

    font-size: 1rem;
    margin-top: 1rem;
    
}
 

.imgfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    
   
}
.logos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 5px;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.logos img {
    width: 50%;
}

.txt {
    text-decoration: none;
    list-style: none;
    font-family: 'PT Sans Narrow';
    font-size: 1rem;
    color: black;
    display: block;
 
    margin-left: 15px;
}

.imagemfinal{
   
    transform: rotate(360deg);
    background-image: url(./imagens/a8f6f8f0-c44e-46d5-bc48-2523a5aca86e\ \(1\).png);
    background-repeat: no-repeat;
    width: 100%;
    
    
}



    
}
